name: deploy-book

on:
    push:
        branches:
            - main

jobs:
    deploy-book:
        runs-on: ubuntu-latest
        permissions:
            pages: write
            id-token: write
        steps:
            - uses: actions/checkout@v5

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Install uv
              run: |
                  curl -LsSf https://astral.sh/uv/install.sh | sh
                  echo "$HOME/.cargo/bin" >> $GITHUB_PATH

            - name: Install dependencies with uv
              run: |
                  uv sync --frozen

            - name: Build the book
              run: |
                  uv run jupyter-book build --all materials

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v4
              with:
                  path: materials/_build/html

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
